.search{

    display:flex;
    flex-direction:column;
    gap:18px;

}

.search input{

    width:100%;

    padding:15px;

    border-radius:10px;

    border:1px solid #ccc;

    outline:none;

    font-size:1rem;

}

.search input:focus{

    border-color:#0984e3;

}

.search button{

    padding:15px;

    border:none;

    border-radius:10px;

    background:#0984e3;

    color:white;

    cursor:pointer;

    font-size:1rem;

    transition:.3s;

}

.search button:hover{

    background:#0767af;

}

.location-button{

    margin-top:15px;

    width:100%;

    padding:12px;

    border:none;

    border-radius:12px;

    cursor:pointer;

}

.error{

    color:#e74c3c;

    font-size:.95rem;

    text-align:center;

}